:root {
    --bg-color: #f0f0f0;

    --font-color-medium: #2c2c2c;
    --side-margin: 100px;
    --default-border: 2px solid var(--font-color-medium);
}

body {
    background-color: var(--bg-color);

    font-family: Helvetica, sans-serif;
    font-size: 16px;

    max-width: 1440px;
}

.header {
    border-bottom: var(--default-border);
    color: var(--font-color-medium);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 50px var(--side-margin) 0;
    padding-bottom: 30px;
}

.name {
    font-size: 1.75rem;
    line-height: 1;
    flex: 1 1;
    font-weight: bold;
}

.menu {
    flex: 0 0 300px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.menu__item {
    text-decoration: none;
    color: var(--font-color-medium);
    line-height: 30px;
}

.dots {
    flex: 0 1 150px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.dots__dot {
    width: 26px;
    height: 26px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    border-radius: 50%;
}

.section {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--side-margin);
}

.annotation {
    margin: 65px var(--side-margin);

    font-weight: bold;
    color: var(--font-color-medium);

    align-items: center;
    line-height: 1.4;
}

.date {
    flex: 1.5;
}

.date__day {
    letter-spacing: .1em;

    font-size: 3rem;
}

.date__month {
    font-size: 1.25rem;
}

.annotation__name {
    flex: 1;
}

.annotation__address {
    flex: 2;
}

.annotation__condition {
    color: #616161;
}

.main {
    margin: 50px var(--side-margin);
}

.main__header {    
    color: #020202;

    font-size: 4rem;

    flex: 1;
}

.number 
{
    color: #dc143c;
}

.main__image {
    /* width: auto; */
    height: 444px;

    z-index: 1;

    object-fit: none;
    object-position: 50% 50%;

    flex: 2 1;

    border: 40px solid var(--bg-color);
    margin: -40px;
}

.gradient {
    z-index: -1;
    background-color:#fff; 

    height: 380px;
}

.gradient-1 {
    background:
    linear-gradient(45deg, #dc143c 45px, transparent 45px) 64px 64px,
    linear-gradient(45deg, #dc143c 45px, transparent 45px, transparent 91px, var(--bg-color) 91px, var(--bg-color) 135px, transparent 135px),
    linear-gradient(-45deg, #dc143c 23px, transparent 23px, transparent 68px,#dc143c 68px,#dc143c 113px, transparent 113px, transparent 158px,#dc143c 158px);
    background-size: 128px 128px;    

    margin: -100px 0 200px var(--side-margin);

    opacity: .7;    
}

.contain {
    align-items: stretch;

    margin: 250px var(--side-margin) 0;
    color: #020202;
}

.subhead {
    flex: 1;

    font-size: 3rem;
    margin: 0;
    line-height: .8;
}

.text {
    flex: 2 1;
    font-size: 1.4rem;
    line-height: 1.5;
    z-index: 1;
    margin-top: 12px;
}

.text > p {
    margin-top: 0;
}

.gradient-2 {
    background:
    linear-gradient(45deg, grey 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, grey 45px, transparent 45px,transparent 91px, #fff 91px, #fff 135px, transparent 135px),
    linear-gradient(-45deg, grey 23px, transparent 23px, transparent 68px, grey 68px, grey 113px,transparent 113px,transparent 158px, grey 158px);
    background-size: 128px 128px;    
    
    opacity: .2;    
    height: 380px;
    margin: -280px 0 30px 365px;  
}

.events-block {  
    align-items: stretch;    
}

.events {
    flex: 2 1;   
    margin-top: 8px; 
}

.events__text {
    font-size: 1.4rem;        
    font-weight: bold;
    line-height: 2;
}

.events__text-date {
    color: grey;
}

.authors {
    align-items: flex-end;

    margin: 115px var(--side-margin);    
}

.authors__text {
    flex: 2 1; 
    font-size: 1.4rem;

    color: #020202; 

    line-height: .9;
}

.footer {
    padding: 10px 0 100px;

    border-top: var(--default-border);
    display: flex;
    justify-content: space-between; 

    margin: 0 var(--side-margin);
}

